<!DOCTYPE html>
<html>
  <head>
    <title>Fotobookv2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header bg-main py-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <h3 class="text-white text-right">Fotobook</h3>
          </div>
          <div class="col-8">
            <div class="d-flex justify-content-between">
              <div class="search-bar w-50">
                <input type="text" class="form-control" placeholder="Search Photo/Album">
              </div>
              <div class="avatar-section d-flex">
                <div class="swap-avatar position-relative">
                  <div class="avatar position-absolute">
                    HN
                  </div>
                </div>
                <div class="name-user my-auto pl-2">
                  <p class="mb-0 text-white font-weight-bold">
                    Hieu Nguyen
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 d-flex">
            <div class="my-auto">
              <p class="p-logout mb-0"><a class="" href="#">Logout</a></p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 left-side-bar">
            <p class="navigation-feed">
              <a class="active" href="/feeds">Feeds</a>
            </p>
            <p class="navigation-discover">
              <a href="/discover">Discover</a>
            </p>
          </div>
          <div class="col-8 bg-white mt-4">
            <div class="main-content-nav d-flex justify-content-center mt-4">
              <div class="btn-group" role="group">
                <a class="btn <%= checkParams('photo') ? 'active' : '' %>" href="?type=photo">PHOTO</a>
                <a class="btn <%= checkParams('album') ? 'active' : '' %>" href="?type=album">ALBUM</a>
              </div>
            </div>

            <%= yield %>
          </div>
          <div class="col-2 right-side">

          </div>
      </div>
    </div>
  </body>
</html>
